{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <title>myforum</title>
    <meta charset="UTF-8">
    {% block css %}
    <link rel='stylesheet' href='{% static 'board/css/home.css' %}'>
    {% endblock css %}
</head>

<body>
    <div class='container'>
        <nav class='navbar'>
            <div class='container'>
                <a class='logo' href='#'>로고</a>
                <button class='navbar-toggle' type='button'>
            </div>
        </nav>
    </div>
</body>
</html>
