{% extends './index.html' %}
{% load static %}

{% block css %}
    <link rel='stylesheet' href='{% static 'board/css/post-list.css' %}'>
{% endblock css %}

<html>
    <head>
        <title>post_list.html</title>
    </head>
    
    <body>
        {% block logo_text %}
            <div id='header'>
                <div class='container'>
                    <h1>post list</h1>
                </div>
            </div>
        {% endblock logo_text %}

        <!-- posts의 post를 하나씩 보여줌 -->
        <table>
        {% for post in posts %}
        <ul>
            <li><a href='{{post.pk}}/'>{{post.postname}}</a></li>
        </ul>
        {% endfor %}
        </table>
        <button><a href="write/">글쓰기</a></button>
    </body>
</html>